# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs
appPackage/build

# dependencies
node_modules/

# .NET build and Visual Studio files
bin/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# misc
.env
.deployment
.DS_Store
