# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=" dev"
APP_NAME_SUFFIX=" dev"

# Generated during provision, you can also add your own variables.
TEAMS_APP_ID=aad90fc0-dbbc-42e2-b9c1-f30b8cc3894d
TEAMS_APP_TENANT_ID=<tenant_id>
M365_TITLE_ID=
M365_APP_ID=