openapi: 3.0.4
info:
  title: OData Service for namespace microsoft.graph - Subset
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  '/me/todo/lists/Tasks/tasks':
    get:
      tags:
        - me.todo
      summary: List tasks
      description: Get the todoTask resources from the tasks navigation property of a specified todoTaskList.
      operationId: me_todo_ListTasks
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          explode: false
          schema:
            minimum: 0
            type: integer
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          explode: false
          schema:
            minimum: 0
            type: integer
        - name: $search
          in: query
          description: Search items by search phrases
          explode: false
          schema:
            type: string
        - name: $filter
          in: query
          description: Filter items by property values
          explode: false
          schema:
            type: string
        - name: $count
          in: query
          description: Include count of items
          explode: false
          schema:
            type: boolean
        - name: $orderby
          in: query
          description: Order items by property values
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Base collection pagination and count responses
                type: object
                properties:
                  '@odata.count':
                    type: integer
                    nullable: true
                    format: int64
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  value:
                    type: array
                    items:
                      title: todoTask
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                        body:
                          title: itemBody
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            content:
                              type: string
                              nullable: true
                              description: The content of the item.
                            contentType:
                              title: bodyType
                              enum:
                                - text
                                - html
                              type: string
                            '@odata.type':
                              type: string
                        bodyLastModifiedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: 'The date and time when the task body was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                          format: date-time
                        categories:
                          type: array
                          items:
                            type: string
                            nullable: true
                          description: The categories associated with the task. Each category corresponds to the displayName property of an outlookCategory that the user has defined.
                        completedDateTime:
                          title: dateTimeTimeZone
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            dateTime:
                              type: string
                              description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                            timeZone:
                              type: string
                              nullable: true
                              description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                            '@odata.type':
                              type: string
                        createdDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: 'The date and time when the task was created. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                          format: date-time
                        dueDateTime:
                          title: dateTimeTimeZone
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            dateTime:
                              type: string
                              description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                            timeZone:
                              type: string
                              nullable: true
                              description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                            '@odata.type':
                              type: string
                        hasAttachments:
                          type: boolean
                          nullable: true
                          description: Indicates whether the task has attachments.
                        importance:
                          title: importance
                          enum:
                            - low
                            - normal
                            - high
                          type: string
                        isReminderOn:
                          type: boolean
                          description: Set to true if an alert is set to remind the user of the task.
                        lastModifiedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: 'The date and time when the task was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                          format: date-time
                        recurrence:
                          title: patternedRecurrence
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            pattern:
                              title: recurrencePattern
                              required:
                                - '@odata.type'
                              type: object
                              properties:
                                dayOfMonth:
                                  maximum: 2147483647
                                  minimum: -2147483648
                                  type: number
                                  description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
                                  format: int32
                                daysOfWeek:
                                  type: array
                                  items:
                                    title: dayOfWeek
                                    enum:
                                      - sunday
                                      - monday
                                      - tuesday
                                      - wednesday
                                      - thursday
                                      - friday
                                      - saturday
                                    type: string
                                  description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
                                firstDayOfWeek:
                                  title: dayOfWeek
                                  enum:
                                    - sunday
                                    - monday
                                    - tuesday
                                    - wednesday
                                    - thursday
                                    - friday
                                    - saturday
                                  type: string
                                index:
                                  title: weekIndex
                                  enum:
                                    - first
                                    - second
                                    - third
                                    - fourth
                                    - last
                                  type: string
                                interval:
                                  maximum: 2147483647
                                  minimum: -2147483648
                                  type: number
                                  description: 'The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.'
                                  format: int32
                                month:
                                  maximum: 2147483647
                                  minimum: -2147483648
                                  type: number
                                  description: The month in which the event occurs.  This is a number from 1 to 12.
                                  format: int32
                                type:
                                  title: recurrencePatternType
                                  enum:
                                    - daily
                                    - weekly
                                    - absoluteMonthly
                                    - relativeMonthly
                                    - absoluteYearly
                                    - relativeYearly
                                  type: string
                                '@odata.type':
                                  type: string
                            range:
                              title: recurrenceRange
                              required:
                                - '@odata.type'
                              type: object
                              properties:
                                endDate:
                                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                                  type: string
                                  nullable: true
                                  description: 'The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.'
                                  format: date
                                numberOfOccurrences:
                                  maximum: 2147483647
                                  minimum: -2147483648
                                  type: number
                                  description: The number of times to repeat the event. Required and must be positive if type is numbered.
                                  format: int32
                                recurrenceTimeZone:
                                  type: string
                                  nullable: true
                                  description: 'Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.'
                                startDate:
                                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                                  type: string
                                  nullable: true
                                  description: 'The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.'
                                  format: date
                                type:
                                  title: recurrenceRangeType
                                  enum:
                                    - endDate
                                    - noEnd
                                    - numbered
                                  type: string
                                '@odata.type':
                                  type: string
                            '@odata.type':
                              type: string
                        reminderDateTime:
                          title: dateTimeTimeZone
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            dateTime:
                              type: string
                              description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                            timeZone:
                              type: string
                              nullable: true
                              description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                            '@odata.type':
                              type: string
                        startDateTime:
                          title: dateTimeTimeZone
                          required:
                            - '@odata.type'
                          type: object
                          properties:
                            dateTime:
                              type: string
                              description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                            timeZone:
                              type: string
                              nullable: true
                              description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                            '@odata.type':
                              type: string
                        status:
                          title: taskStatus
                          enum:
                            - notStarted
                            - inProgress
                            - completed
                            - waitingOnOthers
                            - deferred
                          type: string
                        title:
                          type: string
                          nullable: true
                          description: A brief description of the task.
                        attachments:
                          type: array
                          items:
                            title: attachmentBase
                            required:
                              - '@odata.type'
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for an entity. Read-only.
                              '@odata.type':
                                type: string
                              contentType:
                                type: string
                                nullable: true
                                description: The MIME type.
                              lastModifiedDateTime:
                                pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                                type: string
                                nullable: true
                                description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
                                format: date-time
                              name:
                                type: string
                                nullable: true
                                description: The display name of the attachment. This doesn't need to be the actual file name.
                              size:
                                maximum: 2147483647
                                minimum: -2147483648
                                type: number
                                description: The length of the attachment in bytes.
                                format: int32
                          description: A collection of file attachments for the task.
                        attachmentSessions:
                          type: array
                          items:
                            title: attachmentSession
                            required:
                              - '@odata.type'
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for an entity. Read-only.
                              '@odata.type':
                                type: string
                              content:
                                type: string
                                nullable: true
                                description: The content streams that are uploaded.
                                format: base64url
                              expirationDateTime:
                                pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                                type: string
                                nullable: true
                                description: The date and time in UTC when the upload session will expire. The complete file must be uploaded before this expiration time is reached.
                                format: date-time
                              nextExpectedRanges:
                                type: array
                                items:
                                  type: string
                                  nullable: true
                                description: 'Indicates a single value {start} that represents the location in the file where the next upload should begin.'
                        checklistItems:
                          type: array
                          items:
                            title: checklistItem
                            required:
                              - '@odata.type'
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for an entity. Read-only.
                              '@odata.type':
                                type: string
                              checkedDateTime:
                                pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                                type: string
                                nullable: true
                                description: The date and time when the checklistItem was finished.
                                format: date-time
                              createdDateTime:
                                pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                                type: string
                                description: The date and time when the checklistItem was created.
                                format: date-time
                              displayName:
                                type: string
                                nullable: true
                                description: Indicates the title of the checklistItem.
                              isChecked:
                                type: boolean
                                nullable: true
                                description: State that indicates whether the item is checked off or not.
                          description: A collection of checklistItems linked to a task.
                        extensions:
                          type: array
                          items:
                            title: extension
                            required:
                              - '@odata.type'
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for an entity. Read-only.
                              '@odata.type':
                                type: string
                          description: The collection of open extensions defined for the task. Nullable.
                        linkedResources:
                          type: array
                          items:
                            title: linkedResource
                            required:
                              - '@odata.type'
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for an entity. Read-only.
                              '@odata.type':
                                type: string
                              applicationName:
                                type: string
                                nullable: true
                                description: The app name of the source that sends the linkedResource.
                              displayName:
                                type: string
                                nullable: true
                                description: The title of the linkedResource.
                              externalId:
                                type: string
                                nullable: true
                                description: ID of the object that is associated with this task on the third-party/partner system.
                              webUrl:
                                type: string
                                nullable: true
                                description: Deep link to the linkedResource.
                          description: A collection of resources linked to the task.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
        itemName: value
    post:
      tags:
        - me.todo
      summary: Create Task
      description: Create a new task object in the tasks list.
      operationId: me_todo_CreateTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              title: todoTask
              required:
                - '@odata.type'
              type: object
              properties:
                id:
                  type: string
                  description: The unique identifier for an entity. Read-only.
                '@odata.type':
                  type: string
                body:
                  title: itemBody
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    content:
                      type: string
                      nullable: true
                      description: The content of the item.
                    contentType:
                      title: bodyType
                      enum:
                        - text
                        - html
                      type: string
                    '@odata.type':
                      type: string
                bodyLastModifiedDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  description: 'The date and time when the task body was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                  format: date-time
                categories:
                  type: array
                  items:
                    type: string
                    nullable: true
                  description: The categories associated with the task. Each category corresponds to the displayName property of an outlookCategory that the user has defined.
                completedDateTime:
                  title: dateTimeTimeZone
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    dateTime:
                      type: string
                      description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                    timeZone:
                      type: string
                      nullable: true
                      description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                    '@odata.type':
                      type: string
                createdDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  description: 'The date and time when the task was created. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                  format: date-time
                dueDateTime:
                  title: dateTimeTimeZone
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    dateTime:
                      type: string
                      description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                    timeZone:
                      type: string
                      nullable: true
                      description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                    '@odata.type':
                      type: string
                hasAttachments:
                  type: boolean
                  nullable: true
                  description: Indicates whether the task has attachments.
                importance:
                  title: importance
                  enum:
                    - low
                    - normal
                    - high
                  type: string
                isReminderOn:
                  type: boolean
                  description: Set to true if an alert is set to remind the user of the task.
                lastModifiedDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  description: 'The date and time when the task was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                  format: date-time
                recurrence:
                  title: patternedRecurrence
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    pattern:
                      title: recurrencePattern
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        dayOfMonth:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: number
                          description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
                          format: int32
                        daysOfWeek:
                          type: array
                          items:
                            title: dayOfWeek
                            enum:
                              - sunday
                              - monday
                              - tuesday
                              - wednesday
                              - thursday
                              - friday
                              - saturday
                            type: string
                          description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
                        firstDayOfWeek:
                          title: dayOfWeek
                          enum:
                            - sunday
                            - monday
                            - tuesday
                            - wednesday
                            - thursday
                            - friday
                            - saturday
                          type: string
                        index:
                          title: weekIndex
                          enum:
                            - first
                            - second
                            - third
                            - fourth
                            - last
                          type: string
                        interval:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: number
                          description: 'The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.'
                          format: int32
                        month:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: number
                          description: The month in which the event occurs.  This is a number from 1 to 12.
                          format: int32
                        type:
                          title: recurrencePatternType
                          enum:
                            - daily
                            - weekly
                            - absoluteMonthly
                            - relativeMonthly
                            - absoluteYearly
                            - relativeYearly
                          type: string
                        '@odata.type':
                          type: string
                    range:
                      title: recurrenceRange
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        endDate:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                          type: string
                          nullable: true
                          description: 'The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.'
                          format: date
                        numberOfOccurrences:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: number
                          description: The number of times to repeat the event. Required and must be positive if type is numbered.
                          format: int32
                        recurrenceTimeZone:
                          type: string
                          nullable: true
                          description: 'Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.'
                        startDate:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                          type: string
                          nullable: true
                          description: 'The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.'
                          format: date
                        type:
                          title: recurrenceRangeType
                          enum:
                            - endDate
                            - noEnd
                            - numbered
                          type: string
                        '@odata.type':
                          type: string
                    '@odata.type':
                      type: string
                reminderDateTime:
                  title: dateTimeTimeZone
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    dateTime:
                      type: string
                      description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                    timeZone:
                      type: string
                      nullable: true
                      description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                    '@odata.type':
                      type: string
                startDateTime:
                  title: dateTimeTimeZone
                  required:
                    - '@odata.type'
                  type: object
                  properties:
                    dateTime:
                      type: string
                      description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                    timeZone:
                      type: string
                      nullable: true
                      description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                    '@odata.type':
                      type: string
                status:
                  title: taskStatus
                  enum:
                    - notStarted
                    - inProgress
                    - completed
                    - waitingOnOthers
                    - deferred
                  type: string
                title:
                  type: string
                  nullable: true
                  description: A brief description of the task.
                attachments:
                  type: array
                  items:
                    title: attachmentBase
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for an entity. Read-only.
                      '@odata.type':
                        type: string
                      contentType:
                        type: string
                        nullable: true
                        description: The MIME type.
                      lastModifiedDateTime:
                        pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                        type: string
                        nullable: true
                        description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
                        format: date-time
                      name:
                        type: string
                        nullable: true
                        description: The display name of the attachment. This doesn't need to be the actual file name.
                      size:
                        maximum: 2147483647
                        minimum: -2147483648
                        type: number
                        description: The length of the attachment in bytes.
                        format: int32
                  description: A collection of file attachments for the task.
                attachmentSessions:
                  type: array
                  items:
                    title: attachmentSession
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for an entity. Read-only.
                      '@odata.type':
                        type: string
                      content:
                        type: string
                        nullable: true
                        description: The content streams that are uploaded.
                        format: base64url
                      expirationDateTime:
                        pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                        type: string
                        nullable: true
                        description: The date and time in UTC when the upload session will expire. The complete file must be uploaded before this expiration time is reached.
                        format: date-time
                      nextExpectedRanges:
                        type: array
                        items:
                          type: string
                          nullable: true
                        description: 'Indicates a single value {start} that represents the location in the file where the next upload should begin.'
                checklistItems:
                  type: array
                  items:
                    title: checklistItem
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for an entity. Read-only.
                      '@odata.type':
                        type: string
                      checkedDateTime:
                        pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                        type: string
                        nullable: true
                        description: The date and time when the checklistItem was finished.
                        format: date-time
                      createdDateTime:
                        pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                        type: string
                        description: The date and time when the checklistItem was created.
                        format: date-time
                      displayName:
                        type: string
                        nullable: true
                        description: Indicates the title of the checklistItem.
                      isChecked:
                        type: boolean
                        nullable: true
                        description: State that indicates whether the item is checked off or not.
                  description: A collection of checklistItems linked to a task.
                extensions:
                  type: array
                  items:
                    title: extension
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for an entity. Read-only.
                      '@odata.type':
                        type: string
                  description: The collection of open extensions defined for the task. Nullable.
                linkedResources:
                  type: array
                  items:
                    title: linkedResource
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for an entity. Read-only.
                      '@odata.type':
                        type: string
                      applicationName:
                        type: string
                        nullable: true
                        description: The app name of the source that sends the linkedResource.
                      displayName:
                        type: string
                        nullable: true
                        description: The title of the linkedResource.
                      externalId:
                        type: string
                        nullable: true
                        description: ID of the object that is associated with this task on the third-party/partner system.
                      webUrl:
                        type: string
                        nullable: true
                        description: Deep link to the linkedResource.
                  description: A collection of resources linked to the task.
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                title: todoTask
                required:
                  - '@odata.type'
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for an entity. Read-only.
                  '@odata.type':
                    type: string
                  body:
                    title: itemBody
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      content:
                        type: string
                        nullable: true
                        description: The content of the item.
                      contentType:
                        title: bodyType
                        enum:
                          - text
                          - html
                        type: string
                      '@odata.type':
                        type: string
                  bodyLastModifiedDateTime:
                    pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                    type: string
                    description: 'The date and time when the task body was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                    format: date-time
                  categories:
                    type: array
                    items:
                      type: string
                      nullable: true
                    description: The categories associated with the task. Each category corresponds to the displayName property of an outlookCategory that the user has defined.
                  completedDateTime:
                    title: dateTimeTimeZone
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      dateTime:
                        type: string
                        description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                      timeZone:
                        type: string
                        nullable: true
                        description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                      '@odata.type':
                        type: string
                  createdDateTime:
                    pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                    type: string
                    description: 'The date and time when the task was created. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                    format: date-time
                  dueDateTime:
                    title: dateTimeTimeZone
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      dateTime:
                        type: string
                        description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                      timeZone:
                        type: string
                        nullable: true
                        description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                      '@odata.type':
                        type: string
                  hasAttachments:
                    type: boolean
                    nullable: true
                    description: Indicates whether the task has attachments.
                  importance:
                    title: importance
                    enum:
                      - low
                      - normal
                      - high
                    type: string
                  isReminderOn:
                    type: boolean
                    description: Set to true if an alert is set to remind the user of the task.
                  lastModifiedDateTime:
                    pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                    type: string
                    description: 'The date and time when the task was last modified. By default, it is in UTC. You can provide a custom time zone in the request header. The property value uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2020 would look like this: ''2020-01-01T00:00:00Z''.'
                    format: date-time
                  recurrence:
                    title: patternedRecurrence
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      pattern:
                        title: recurrencePattern
                        required:
                          - '@odata.type'
                        type: object
                        properties:
                          dayOfMonth:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: number
                            description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
                            format: int32
                          daysOfWeek:
                            type: array
                            items:
                              title: dayOfWeek
                              enum:
                                - sunday
                                - monday
                                - tuesday
                                - wednesday
                                - thursday
                                - friday
                                - saturday
                              type: string
                            description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
                          firstDayOfWeek:
                            title: dayOfWeek
                            enum:
                              - sunday
                              - monday
                              - tuesday
                              - wednesday
                              - thursday
                              - friday
                              - saturday
                            type: string
                          index:
                            title: weekIndex
                            enum:
                              - first
                              - second
                              - third
                              - fourth
                              - last
                            type: string
                          interval:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: number
                            description: 'The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.'
                            format: int32
                          month:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: number
                            description: The month in which the event occurs.  This is a number from 1 to 12.
                            format: int32
                          type:
                            title: recurrencePatternType
                            enum:
                              - daily
                              - weekly
                              - absoluteMonthly
                              - relativeMonthly
                              - absoluteYearly
                              - relativeYearly
                            type: string
                          '@odata.type':
                            type: string
                      range:
                        title: recurrenceRange
                        required:
                          - '@odata.type'
                        type: object
                        properties:
                          endDate:
                            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                            type: string
                            nullable: true
                            description: 'The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.'
                            format: date
                          numberOfOccurrences:
                            maximum: 2147483647
                            minimum: -2147483648
                            type: number
                            description: The number of times to repeat the event. Required and must be positive if type is numbered.
                            format: int32
                          recurrenceTimeZone:
                            type: string
                            nullable: true
                            description: 'Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.'
                          startDate:
                            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
                            type: string
                            nullable: true
                            description: 'The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.'
                            format: date
                          type:
                            title: recurrenceRangeType
                            enum:
                              - endDate
                              - noEnd
                              - numbered
                            type: string
                          '@odata.type':
                            type: string
                      '@odata.type':
                        type: string
                  reminderDateTime:
                    title: dateTimeTimeZone
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      dateTime:
                        type: string
                        description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                      timeZone:
                        type: string
                        nullable: true
                        description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                      '@odata.type':
                        type: string
                  startDateTime:
                    title: dateTimeTimeZone
                    required:
                      - '@odata.type'
                    type: object
                    properties:
                      dateTime:
                        type: string
                        description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
                      timeZone:
                        type: string
                        nullable: true
                        description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
                      '@odata.type':
                        type: string
                  status:
                    title: taskStatus
                    enum:
                      - notStarted
                      - inProgress
                      - completed
                      - waitingOnOthers
                      - deferred
                    type: string
                  title:
                    type: string
                    nullable: true
                    description: A brief description of the task.
                  attachments:
                    type: array
                    items:
                      title: attachmentBase
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                        contentType:
                          type: string
                          nullable: true
                          description: The MIME type.
                        lastModifiedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          nullable: true
                          description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
                          format: date-time
                        name:
                          type: string
                          nullable: true
                          description: The display name of the attachment. This doesn't need to be the actual file name.
                        size:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: number
                          description: The length of the attachment in bytes.
                          format: int32
                    description: A collection of file attachments for the task.
                  attachmentSessions:
                    type: array
                    items:
                      title: attachmentSession
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                        content:
                          type: string
                          nullable: true
                          description: The content streams that are uploaded.
                          format: base64url
                        expirationDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          nullable: true
                          description: The date and time in UTC when the upload session will expire. The complete file must be uploaded before this expiration time is reached.
                          format: date-time
                        nextExpectedRanges:
                          type: array
                          items:
                            type: string
                            nullable: true
                          description: 'Indicates a single value {start} that represents the location in the file where the next upload should begin.'
                  checklistItems:
                    type: array
                    items:
                      title: checklistItem
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                        checkedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          nullable: true
                          description: The date and time when the checklistItem was finished.
                          format: date-time
                        createdDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: The date and time when the checklistItem was created.
                          format: date-time
                        displayName:
                          type: string
                          nullable: true
                          description: Indicates the title of the checklistItem.
                        isChecked:
                          type: boolean
                          nullable: true
                          description: State that indicates whether the item is checked off or not.
                    description: A collection of checklistItems linked to a task.
                  extensions:
                    type: array
                    items:
                      title: extension
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                    description: The collection of open extensions defined for the task. Nullable.
                  linkedResources:
                    type: array
                    items:
                      title: linkedResource
                      required:
                        - '@odata.type'
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        '@odata.type':
                          type: string
                        applicationName:
                          type: string
                          nullable: true
                          description: The app name of the source that sends the linkedResource.
                        displayName:
                          type: string
                          nullable: true
                          description: The title of the linkedResource.
                        externalId:
                          type: string
                          nullable: true
                          description: ID of the object that is associated with this task on the third-party/partner system.
                        webUrl:
                          type: string
                          nullable: true
                          description: Deep link to the linkedResource.
                    description: A collection of resources linked to the task.
components:
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/39f0e149-6ce0-483e-8acf-b6faa229a203/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/39f0e149-6ce0-483e-8acf-b6faa229a203/oauth2/v2.0/token
          scopes:
            User.Read: 'Read user profile'
            Directory.Read.All: 'Read directory data'
            Tasks.ReadWrite: 'Read and write all tasks'
            Mail.Send: 'Send mail as a user'
security:
  - azureaadv2: [ ]