# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev

# Generated during provision, you can also add your own variables.
TEAMS_APP_ID=082eb662-19a0-40a0-801a-4eeeae8ecac3
TEAMS_APP_TENANT_ID=
M365_TITLE_ID=
M365_APP_ID=

AZUREAADV2_REGISTRATION_ID=
APIKEYAUTH_REGISTRATION_ID_FOR_AISEARCH=

SITE_ID=
LIST_ID=