openapi: 3.0.1
info:
  title: Search - Subset - Subset
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /search/microsoft.graph.query:
    post:
      tags:
        - search.Actions
      summary: Invoke action query
      description: Runs the query specified in the request body. Search results are provided in the response.
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.searchResponse'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
        itemName: value
components:
  schemas:
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        aggregationFilters:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains one or more filters to obtain search results aggregated and filtered to a specific value of a field. Optional.Build this filter based on a prior search that aggregates by the same field. From the response of the prior search, identify the searchBucket that filters results to the specific value of the field, use the string in its aggregationFilterToken property, and build an aggregation filter string in the format ''{field}:/''{aggregationFilterToken}/''''. If multiple values for the same field need to be provided, use the strings in its aggregationFilterToken property and build an aggregation filter string in the format ''{field}:or(/''{aggregationFilterToken1}/'',/''{aggregationFilterToken2}/'')''. For example, searching and aggregating drive items by file type returns a searchBucket for the file type docx in the response. You can conveniently use the aggregationFilterToken returned for this searchBucket in a subsequent search query and filter matches down to drive items of the docx file type. Example 1 and example 2 show the actual requests and responses.'
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.aggregationOption'
          description: Specifies aggregations (also known as refiners) to be returned alongside search results. Optional.
        collapseProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.collapseProperty'
          description: Contains the ordered collection of fields and limit to collapse results. Optional.
        contentSources:
          type: array
          items:
            type: string
            nullable: true
          description: Contains the connection to be targeted.
        enableTopResults:
          type: boolean
          description: 'This triggers hybrid sort for messages : the first 3 messages are the most relevant. This property is only applicable to entityType=message. Optional.'
          nullable: true
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
          description: 'One or more types of resources expected in the response. Possible values are: event, message, driveItem, externalItem, site, list, listItem, drive, chatMessage, person, acronym, bookmark.  Note that you must use the Prefer: include-unknown-enum-members request header to get the following value(s) in this evolvable enum: chatMessage, person, acronym, bookmark. See known limitations for those combinations of two or more entity types that are supported in the same search request. Required.'
        fields:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains the fields to be returned for each resource object specified in entityTypes, allowing customization of the fields returned by default; otherwise, including additional fields such as custom managed properties from SharePoint and OneDrive, or custom fields in externalItem from the content that Microsoft Graph connectors bring in. The fields property can use the semantic labels applied to properties. For example, if a property is labeled as title, you can retrieve it using the following syntax: label_title. Optional.'
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Specifies the offset for the search results. Offset 0 returns the very first result. Optional.
          format: int32
        query:
          $ref: '#/components/schemas/microsoft.graph.searchQuery'
        queryAlterationOptions:
          $ref: '#/components/schemas/microsoft.graph.searchAlterationOptions'
        region:
          type: string
          description: 'The geographic location for the search. Required for searches that use application permissions. For details, see Get the region value.'
          nullable: true
        resultTemplateOptions:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateOption'
        sharePointOneDriveOptions:
          $ref: '#/components/schemas/microsoft.graph.sharePointOneDriveOptions'
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The size of the page to be retrieved. The maximum value is 500. Optional.
          format: int32
        sortProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sortProperty'
          description: Contains the ordered collection of fields and direction to sort results. There can be at most 5 sort properties in the collection. Optional.
      additionalProperties:
        type: object
    microsoft.graph.searchResponse:
      title: searchResponse
      type: object
      properties:
        hitsContainers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHitsContainer'
          description: A collection of search results.
        queryAlterationResponse:
          $ref: '#/components/schemas/microsoft.graph.alterationResponse'
        resultTemplates:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateDictionary'
        searchTerms:
          type: array
          items:
            type: string
            nullable: true
          description: Contains the search terms sent in the initial search query.
      additionalProperties:
        type: object
    microsoft.graph.aggregationOption:
      title: aggregationOption
      type: object
      properties:
        bucketDefinition:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationDefinition'
        field:
          type: string
          description: Computes aggregation on the field while the field exists in the current entity type. Required.
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The number of searchBucket resources to be returned. This isn''t required when the range is provided manually in the search request. The minimum accepted size is 1, and the maximum is 65535. Optional.'
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.collapseProperty:
      title: collapseProperty
      type: object
      properties:
        fields:
          type: array
          items:
            type: string
          description: Defines the collapse group to trim results. The properties in this collection must be sortable/refinable properties. Required.
        limit:
          maximum: 32767
          minimum: -32768
          type: integer
          description: Defines a maximum limit count for this field. This numeric value must be a positive integer. Required.
          format: int16
      additionalProperties:
        type: object
    microsoft.graph.entityType:
      title: entityType
      enum:
        - event
        - message
        - driveItem
        - externalItem
        - site
        - list
        - listItem
        - drive
        - unknownFutureValue
        - chatMessage
        - person
        - acronym
        - bookmark
      type: string
    microsoft.graph.searchQuery:
      title: searchQuery
      type: object
      properties:
        queryString:
          type: string
          description: The search query containing the search terms. Required.
        queryTemplate:
          type: string
          description: Provides a way to decorate the query string. Supports both KQL and query variables. Optional.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationOptions:
      title: searchAlterationOptions
      type: object
      properties:
        enableModification:
          type: boolean
          description: 'Indicates whether spelling modifications are enabled. If enabled, the user gets the search results for the corrected query if there were no results for the original query with typos. The response will also include the spelling modification information in the queryAlterationResponse property. Optional.'
          nullable: true
        enableSuggestion:
          type: boolean
          description: 'Indicates whether spelling suggestions are enabled. If enabled, the user gets the search results for the original search query and suggestions for spelling correction in the queryAlterationResponse property of the response for the typos in the query. Optional.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateOption:
      title: resultTemplateOption
      type: object
      properties:
        enableResultTemplate:
          type: boolean
          description: 'Indicates whether search display layouts are enabled. If enabled, the user will get the result template to render the search results content in the resultTemplates property of the response. The result template is based on Adaptive Cards. Optional.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.sharePointOneDriveOptions:
      title: sharePointOneDriveOptions
      type: object
      properties:
        includeContent:
          $ref: '#/components/schemas/microsoft.graph.searchContent'
      additionalProperties:
        type: object
    microsoft.graph.sortProperty:
      title: sortProperty
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True if the sort order is descending. Default is false, with the sort order as ascending. Optional.'
          nullable: true
        name:
          type: string
          description: The name of the property to sort on. Required.
      additionalProperties:
        type: object
    microsoft.graph.searchHitsContainer:
      title: searchHitsContainer
      type: object
      properties:
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchAggregation'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHit'
          description: A collection of the search results.
        moreResultsAvailable:
          type: boolean
          description: 'Provides information if more results are available. Based on this information, you can adjust the from and size properties of the searchRequest accordingly.'
          nullable: true
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The total number of results. Note this isn''t the number of results on the page, but the total number of results satisfying the query.'
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.alterationResponse:
      title: alterationResponse
      type: object
      properties:
        originalQueryString:
          type: string
          description: Defines the original user query string.
          nullable: true
        queryAlteration:
          $ref: '#/components/schemas/microsoft.graph.searchAlteration'
        queryAlterationType:
          $ref: '#/components/schemas/microsoft.graph.searchAlterationType'
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateDictionary:
      title: resultTemplateDictionary
      type: object
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationDefinition:
      title: bucketAggregationDefinition
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True to specify the sort order as descending. The default is false, with the sort order as ascending. Optional.'
          nullable: true
        minimumCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The minimum number of items that should be present in the aggregation to be returned in a bucket. Optional.
          format: int32
          nullable: true
        prefixFilter:
          type: string
          description: A filter to define a matching criteria. The key should start with the specified prefix to be returned in the response. Optional.
          nullable: true
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bucketAggregationRange'
          description: Specifies the manual ranges to compute the aggregations. This is only valid for nonstring refiners of date or numeric type. Optional.
        sortBy:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationSortProperty'
      additionalProperties:
        type: object
    microsoft.graph.searchContent:
      title: searchContent
      enum:
        - sharedContent
        - privateContent
        - unknownFutureValue
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.searchAggregation:
      title: searchAggregation
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchBucket'
        field:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchHit:
      title: searchHit
      type: object
      properties:
        contentSource:
          type: string
          description: The name of the content source that the externalItem is part of.
          nullable: true
        hitId:
          type: string
          description: 'The internal identifier for the item. The format of the identifier varies based on the entity type. For details, see hitId format.'
          nullable: true
        isCollapsed:
          type: boolean
          description: Indicates whether the current result is collapsed when the collapseProperties property in the searchRequest is used.
          nullable: true
        rank:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The rank or the order of the result.
          format: int32
          nullable: true
        resultTemplateId:
          type: string
          description: ID of the result template used to render the search result. This ID must map to a display layout in the resultTemplates dictionary that is also included in the searchResponse.
          nullable: true
        summary:
          type: string
          description: 'A summary of the result, if a summary is available.'
          nullable: true
        resource:
          $ref: '#/components/schemas/microsoft.graph.entity'
      additionalProperties:
        type: object
    microsoft.graph.searchAlteration:
      title: searchAlteration
      type: object
      properties:
        alteredHighlightedQueryString:
          type: string
          description: 'Defines the altered highlighted query string with spelling correction. The annotation around the corrected segment is: /ue000, /ue001.'
          nullable: true
        alteredQueryString:
          type: string
          description: Defines the altered query string with spelling correction.
          nullable: true
        alteredQueryTokens:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.alteredQueryToken'
          description: Represents changed segments related to an original user query.
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationType:
      title: searchAlterationType
      enum:
        - suggestion
        - modification
        - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationRange:
      title: bucketAggregationRange
      type: object
      properties:
        from:
          type: string
          description: Defines the lower bound from which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
        to:
          type: string
          description: Defines the upper bound up to which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationSortProperty:
      title: bucketAggregationSortProperty
      enum:
        - count
        - keyAsString
        - keyAsNumber
        - unknownFutureValue
      type: string
    microsoft.graph.searchBucket:
      title: searchBucket
      type: object
      properties:
        aggregationFilterToken:
          type: string
          description: 'A token containing the encoded filter to aggregate search matches by the specific key value. To use the filter, pass the token as part of the aggregationFilter property in a searchRequest object, in the format ''{field}:/''{aggregationFilterToken}/''''. See an example.'
          nullable: true
        count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The approximate number of search matches that share the same value specified in the key property. Note that this number is not the exact number of matches.
          format: int32
          nullable: true
        key:
          type: string
          description: The discrete value of the field that an aggregation was computed on.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.alteredQueryToken:
      title: alteredQueryToken
      type: object
      properties:
        length:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Defines the length of a changed segment.
          format: int32
          nullable: true
        offset:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Defines the offset of a changed segment.
          format: int32
          nullable: true
        suggestion:
          type: string
          description: Represents the corrected segment string.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/tenantid/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/tenantid/oauth2/v2.0/token
          scopes: 
            QnA.Read.All: Read QnAs from Microsoft Search

security:
  - azureaadv2: [ ]