openapi: 3.0.4
info:
  title: Microsoft Graph
  version: v1.0
servers:
  - url:  https://graph.microsoft.com/beta/
    description: Core
paths:
  /me/memberOf/microsoft.graph.group:
    get:
      tags:
        - users.directoryObject
      summary: List the currently logged in users direct group memberships.
      description: 'Get groups that the current user is a direct member of or belongs to.'
      operationId: user_ListMemberGraphOPre
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: directoryObject
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        deletedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                          format: date-time
                          nullable: true
                      additionalProperties:
                        type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                properties:
                  error:
                    required:
                      - code
                      - message
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                        x-ms-primary-error-message: true
                      target:
                        type: string
                        nullable: true
                      details:
                        type: array
                        items:
                          required:
                            - code
                            - message
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            target:
                              type: string
                              nullable: true
                          additionalProperties:
                            type: object
                      innerError:
                        type: object
                        additionalProperties:
                          type: object
                        description: The structure of this object is service-specific
                    additionalProperties:
                      type: object
                additionalProperties:
                  type: object
  /me/ownedObjects/microsoft.graph.group:
    get:
      tags:
        - users.directoryObject
      summary: List the groups where the current user is the owner.
      description: 'Get groups that the current user is the owner and has the ability to manage the group.'
      operationId: user_ListOwnedGroups
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: directoryObject
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        deletedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                          format: date-time
                          nullable: true
                      additionalProperties:
                        type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                properties:
                  error:
                    required:
                      - code
                      - message
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                        x-ms-primary-error-message: true
                      target:
                        type: string
                        nullable: true
                      details:
                        type: array
                        items:
                          required:
                            - code
                            - message
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            target:
                              type: string
                              nullable: true
                          additionalProperties:
                            type: object
                      innerError:
                        type: object
                        additionalProperties:
                          type: object
                        description: The structure of this object is service-specific
                    additionalProperties:
                      type: object
                additionalProperties:
                  type: object
components:
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Read user profile
security:
  - azureaadv2: [ "User.Read" ]