openapi: 3.0.4
info:
  title: Microsoft Graph
  version: v1.0
servers:
  - url:  https://graph.microsoft.com/beta/
    description: Core
paths:
  /me/memberOf/microsoft.graph.group:
    get:
      tags:
        - users.directoryObject
      summary: List the currently logged in users direct group memberships.
      description: Get groups that the current user is a direct member of or belongs to
      operationId: user_ListMemberGroups
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: directoryObject
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        deletedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                          format: date-time
                          nullable: true
                      additionalProperties:
                        type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
              x-ms-response:
                static_template:
                  $schema: "http://adaptivecards.io/schemas/adaptive-card.json"
                  type: "AdaptiveCard"
                  version: "1.5"
                  body:
                    - type: "TextBlock"
                      text: "Your Groups"
                      weight: "Bolder"
                      size: "Medium"
                    - type: "Container"
                      items:
                        - type: "FactSet"
                          facts:
                            - title: "Group Name"
                              value: "${value[0].displayName}"
                            - title: "Description"
                              value: "${value[0].description}"
                            - title: "Owner"
                              value: "${value[0].owner.displayName}"
                            - title: "Members"
                              value: "${value[0].memberCount}"
                            - title: "Access Type"
                              value: "${value[0].accessType}"
                            - title: "Last Updated"
                              value: "${value[0].lastUpdated}"
                  actions:
                    - type: "Action.OpenUrl"
                      title: "View in Portal"
                      url: "https://aka.ms/MyGroup"
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                properties:
                  error:
                    required:
                      - code
                      - message
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                        x-ms-primary-error-message: true
                      target:
                        type: string
                        nullable: true
                      details:
                        type: array
                        items:
                          required:
                            - code
                            - message
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            target:
                              type: string
                              nullable: true
                          additionalProperties:
                            type: object
                      innerError:
                        type: object
                        additionalProperties:
                          type: object
                        description: The structure of this object is service-specific
                    additionalProperties:
                      type: object
                additionalProperties:
                  type: object
  /me/ownedObjects/microsoft.graph.group:
    get:
      tags:
        - users.directoryObject
      summary: List the groups where the current user is the owner.
      description: Get groups that the current user is the owner and has the ability to manage the group.
      operationId: user_ListOwnedGroups
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: directoryObject
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        deletedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                          format: date-time
                          nullable: true
                      additionalProperties:
                        type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                properties:
                  error:
                    required:
                      - code
                      - message
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                        x-ms-primary-error-message: true
                      target:
                        type: string
                        nullable: true
                      details:
                        type: array
                        items:
                          required:
                            - code
                            - message
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            target:
                              type: string
                              nullable: true
                          additionalProperties:
                            type: object
                      innerError:
                        type: object
                        additionalProperties:
                          type: object
                        description: The structure of this object is service-specific
                    additionalProperties:
                      type: object
                additionalProperties:
                  type: object
  /me/authentication/methods:
    get:
      tags:
        - me.authentication
      summary: List methods
      description: 'Retrieve a list of authentication methods registered to a user.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-list-methods?view=graph-rest-beta
      operationId: me_authentication_ListMethods
      parameters:
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
  /me/ownedDevices:
    get:
      tags:
        - me.directoryObject
      summary: List ownedDevices
      description: Get the list of devices that are owned by the user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list-owneddevices?view=graph-rest-beta
      operationId: me_ListOwnedDevices
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'

components:
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Read user profile
  schemas:
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          nullable: true
          format: int64
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          required:
            - '@odata.type'
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              nullable: true
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
            '@odata.type':
              type: string
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.entity:
      title: entity
      required:
        - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
        - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          nullable: true
          description: Request Id as tracked internally by the service
        client-request-id:
          type: string
          nullable: true
          description: Client request Id as sent by the client application.
        date:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          nullable: true
          description: Date when the error occured.
          format: date-time
        '@odata.type':
          type: string
  responses:
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryObjectCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      explode: false
      schema:
        type: boolean
security:
  - azureaadv2: [ "User.Read" ]