openapi: 3.0.4
info:
  title: Users - Subset - Subset
  version: v1.0
servers:
  - url:  https://graph.microsoft.com/beta/
    description: Core
paths:
  /me/memberOf/microsoft.graph.group:
    get:
      tags:
        - users.directoryObject
      summary: List the currently logged in users direct group memberships. Filtering by username is not required if it is for the current user.
      description: 'Get groups that the current user is a direct member of or belongs to.'
      operationId: user_ListMemberGraphOPre
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $top
          in: query
          description: Show only the first n items
          explode: false
          schema:
            minimum: 0
            type: integer
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          explode: false
          schema:
            minimum: 0
            type: integer
        - name: $search
          in: query
          description: Search items by search phrases
          explode: false
          schema:
            type: string
        - name: $filter
          in: query
          description: Filter items by property values
          explode: false
          schema:
            type: string
        - name: $count
          in: query
          description: Include count of items
          explode: false
          schema:
            type: boolean
        - name: $orderby
          in: query
          description: Order items by property values
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved collection
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: directoryObject
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for an entity. Read-only.
                        deletedDateTime:
                          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                          type: string
                          description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
                          format: date-time
                          nullable: true
                      additionalProperties:
                        type: object
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          description: error
          content:
            application/json:
              schema:
                required:
                  - error
                type: object
                properties:
                  error:
                    required:
                      - code
                      - message
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                        x-ms-primary-error-message: true
                      target:
                        type: string
                        nullable: true
                      details:
                        type: array
                        items:
                          required:
                            - code
                            - message
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            target:
                              type: string
                              nullable: true
                          additionalProperties:
                            type: object
                      innerError:
                        type: object
                        additionalProperties:
                          type: object
                        description: The structure of this object is service-specific
                    additionalProperties:
                      type: object
                additionalProperties:
                  type: object
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
        itemName: value
components:
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]